.git
.gitignore
.gitattributes
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
tests
docker-compose.yml
docker-compose-dev.yml
docker-compose.prod.yml
compose.yaml
compose.override.yml
.idea
.vscode
Dockerfile*
.dockerignore
